{
  "host": "0.0.0.0",
  "port": 56709,
  "hooks": [
    {
      "user": "rngnrs",
      "repo": "webhook",
      "event": "push",
      "branch": "master",
      "cmd": "git checkout . && git pull"
    },
    {
      "user": "BakaSolutions",
      "repo": "foxtan",
      "event": "push",
      "cmd": "./update-foxtan.sh",
      "secret": "S3CR37"
    },
    {
      "user": "username",
      "repo": "repository",
      "event": "workflow_run.completed",
      "blueprint": {
        "workflow_run": {
          "conclusion": "success"
        }
      },
      "cmd": "echo Workflow run has succeeded"
    }
  ]
}
