{
  "host": "0.0.0.0",
  "port": 56709,
  "hooks": [
    {
      "user": "rngnrs",
      "repo": "webhook",
      "event": "push",
      "branch": "master",
      "cmd": "git checkout . && git pull"
    },
    {
      "user": "BakaSolutions",
      "repo": "foxtan",
      "event": "push",
      "cmd": "./update-foxtan.sh",
      "secret": "S3CR37"
    }
  ]
}
