{
  "host": "0.0.0.0",
  "port": 56709,
  "hooks": [
    {
      "user": "rngnrs",
      "repo": "webhook",
      "event": "push",
      "branch": "master",
      "cmd": "git checkout . && git pull"
    },
    {
      "user": "BakaSolutions",
      "repo": "foxtan",
      "event": "push",
      "cmd": "cd /var/www/foxtan && ./update-foxtan.sh",
      "secret": "S3CR37",
      "onsuccess": "cd /var/www/foxtan && ./notify-success.sh",
      "onfail": "cd /var/www/foxtan && ./notify-fail.sh"
    },
    {
      "user": "username",
      "repo": "repository",
      "event": "workflow_run.completed",
      "blueprint": {
        "workflow_run": {
          "conclusion": "success"
        }
      },
      "cmd": "echo Workflow run has succeeded",
      "onsuccess": "echo Workflow run has succeeded | mail -s 'Workflow success' username@localhost"
    }
  ]
}
